node_modules/@next/swc-darwin-arm64/next-swc.darwin-arm64.node
node_modules/@tensorflow/tfjs-node/deps/lib/libtensorflow.2.7.0.dylib
public/invideo-ai-1080 Explore the Future of DeFi_ A 3D Visuali 2024-09-18.mp4
node_modules/
